@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
}

body {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.pointer {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

.texture-selector {
  bottom: 32px;
  background: #aaa;
  padding: 8px;
  border: 3px solid #000;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  gap: 8px;
}

.texture-selector img {
  width: 100px;
  z-index: 100;
  image-rendering: pixelated;
  border: 5px solid #000;
}

.texture-selector img.selected {
  border-color: red;
}

.texture-selector.hidden {
  display: none;
}

.menu {
  top: 10px;
  left: 10px;
}

.absolute {
  position: absolute;
}

/* --------------------------------------------------------------------- */

/* For the popup menu */
.menu-popup {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 30px;
  border-radius: 10px;
  width: 450px;
  max-width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Header of the menu */
.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Close button */
.close-menu {
  background-color: red;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer !important;
  border-radius: 50%;
  padding: 5px 10px;
  height: 40px !important;
  width: 36px !important;
}

.close-menu:hover {
  background-color: darkred;
}

/* Buttons styling */
.menu-popup button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.menu-popup button:hover {
  background-color: #555;
}

/* Select box styling */
.menu-popup select {
  width: 100%;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 16px;
}

/* Top-right buttons container */
.top-right-buttons {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
  z-index: 1000;
}

/* Menu and full-screen buttons */
.menu-button,
.fullscreen-button {
  padding: 15px;
  font-size: 18px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.menu-button:hover,
.fullscreen-button:hover {
  background-color: #555;
}

.hr {
  border-style: solid;
  border-color: #5b5b5b;
  margin: 20px 0;
}
@keyframes scaleInBackground {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.bg-scale-in {
  background: url("/circle.svg") no-repeat center;
  background-size: cover;
  animation: scaleInBackground 1s ease-in forwards;
}
